@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap');


*{
padding: 0;
margin: 0;
box-sizing: border-box;
text-decoration: none;
font-family: 'Philosopher', sans-serif;
}
body{
width: 100%;
min-height: 100vh;
background: black;
}
*::-webkit-scrollbar{
  width: 0px;
}